<!DOCTYPE html>
<html>
<head>
  <title>Meteorologist</title>

  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Connect to our own custom CSS -->
  <link rel="stylesheet" href="../custom_styles.css">

  <!-- Connect to jQuery (required before Bootstrap Javascript) -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- These meta tags make Bootstrap responsive and more accessible -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Set browser tab icon -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="../assets/ruby.ico"> -->

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/street_to_coords/new">
        <i class="fa fa-cloud"></i>
        Meterologist</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/street_to_coords/new"><i class="fa fa-globe"></i>
            Street &rarr; Coords</a>
        </li>
        <li>
          <a href="/coords_to_weather/new"><i class="fa fa-sun-o"></i>
            Coords &rarr; Weather</a>
        </li>
        <li>
          <a href="/street_to_weather/new"><i class="fa fa-umbrella"></i>
            Street &rarr; Weather</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6"></div>
        <%= yield %>
    </div>
</div>



</body>
</html>
